.navbar {
    background-color: #1e1e1e; /* dark background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px 60px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  /* Center and right navs*/
  .nav-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  
  .nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  

  /* This makes center links actually center */
  .navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  }

  .nav-right {
    justify-self: end;
  }

  /* Logo styling */
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  /* Navigation links styling */
  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-item {
    position: relative;
    display: flex;
    aligh-items: center;
    justify-content:center;
    padding: 1rem 4rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.15em;
    z-index: 0;
    transition: color 0.3s ease;
  }
  
  /* Divider (|) styling */
  .divider {
    color: #888;
    margin: 0 6px;
  }
  
  /* Hover effect */
  .nav-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 81, 231, 0) 0%,
      rgba(0, 204, 255, 1) 100%
    );
    opacity: 0;
    z-index: -1;
    transition: opacity 0.35s ease;
  }
  
  
  .nav-item:hover::after {
    transform: scaleY(1);
    opacity: 1;
  }
  
  .nav-item:hover {
    color: #ffffff;
  }
  