/* General navbar styling */
.navbar {
    background-color: #1e1e1e; /* dark background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    font-family: Arial, sans-serif;
  }
  
  /* Center and right navs*/
  .nav-center
  .nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  

  /* This makes center links actually center */
  .navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  }

  .nav-right {
    justify-self: end;
  }

  /* Logo styling */
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  /* Navigation links styling */
  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-item {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: color 0.3s ease;
  }
  
  /* Divider (|) styling */
  .divider {
    color: #888;
    margin: 0 12px;
  }
  
  /* Hover effect */
  .nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #7bb5ff; /* blue underline */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  
  .nav-item:hover::after {
    transform: scaleX(1);
  }
  
  .nav-item:hover {
    color: #ffffff;
  }
  